# Randy's runtime data
auditor/data/*
auditor/web-client/node_modules
auditor/web-client/package-lock.json
auditor/*.out

auditor2/data/*
auditor2/web-client/node_modules
auditor2/web-client/package-lock.json
auditor2/*.out

chairperson/node_modules
chairperson/instance-address/*
chairperson/package-lock.json

data_owner/data/*
data_owner/web-client/node_modules
data_owner/*.out

storage_provider/data/*
storage_provider/storage/blks/*
storage_provider/storage/sigs/*
storage_provider/web-client/node_modules
storage_provider/web-client/package-lock.json
storage_provider/*.out

public_params/*
swap_zone/*